/* Общая характеристика */
body {
	background-color: #242829;
}

/* Заморочная настройка переключателей */
.Select {
	background-color: rgb(27, 29, 30);
	color: #fff;
}
.Select-input > input {
	color: #fff;
}
.Select .Select-value {
	background-color: rgb(27, 29, 30);
}
.Select-control {
  background-color: rgb(25, 25, 25) !important;
	color: #fff;
}
.Select-menu-outer {
	background-color: rgb(27, 29, 30);
	color: #fff;
	border-radius: 10;
}
.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{
	color: white;
}

/* Верхняя панель */
.panel {
	background-color: #161819;
	margin: -8px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

/* Иконка + текст слева в панели */
.img_text_panel {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex: 1;
}

/* Кнопки социалок */
.soc_buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex: 1;
	justify-content: center;
	gap: 10px;
}


/* Div для социалок */
.socials {
  background-color: #2e4ebf;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  padding-left: 1%;
  padding-right: 4%;
	align-items: center;
	height: 60%;
}
/* Текст социалок */
.soc_text {
  color: white;
  text-decoration: auto;
  padding-left: 8%;
	font-size: 1rem;
}
